.calculator-base {
    background-color:orange;
    display: grid;
    grid-template-columns: auto auto auto;
    position: fixed;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}
.button {
    border-radius: 10px; 
    background-color: rgb(253, 215, 170);
    border: 3px solid black;
    font-size: xx-large;
    font-family: fantasy;
    transition-duration: .3s;
    cursor: grab;
}
.button1  {
    grid-column: 1 / 4;
    content: white;
    text-align: right;
    padding-right: 10%;
}
.button3 {
    grid-column: 2 / 4;
}
.button2:hover  {
    background-color:black;
    color: white;
}

.button3:hover  {
    background-color:black;
    color: white;
}