.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.calculator-base {
    background-color:orange;
    border: 5px solid black;
    height: 400px;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 8px;
    border-radius: 10px;
}
.button {
    border-radius: 10px; 
    background-color: rgb(253, 215, 170);
    border: 3px solid black;
    font-size: x-large;
    font-family: fantasy;
    transition-duration: .3s;
    cursor: grab;
}
.button1  {
    grid-column: 1 / 4;
    font-weight: bold;
    text-align: right;
    font-size: x-large;
    box-sizing: border-box;
    border-width: 10px;
    padding: 1%;
}
.button3 {
    grid-column: 2 / 4;
}
.button2:hover  {
    background-color:black;
    color: white;
}
.button3:hover  {
    background-color:black;
    color: white;
}